@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

/*noinspection CssUnknownTarget*/
@font-face {
    font-family: 'Mojave-Web';
    src: url('/mojave-webfont.eot');
    src: url('/mojave-webfont.eot?#iefix') format('embedded-opentype'),
    url('/mojave-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*noinspection CssUnknownTarget*/
@font-face {
    font-family: 'Sertig-Web';
    src: url('/sertig-webfont.eot');
    src: url('/sertig-webfont.eot?#iefix') format('embedded-opentype'),
    url('/sertig-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 48;
    font-size: inherit;
}

html {
    min-height: 100vh;
    height: 100vh;
}

body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: Sertig-Web, sans-serif;
    font-size: 1rem;
    /*min-width: 700px;*/
}

#svelte-body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

:root {
    --color-accent: #0083ef;
    --color-fg: white;
    --color-bg: #111;
    --color-select-bg: #222;
}

* {
    box-sizing: border-box;
    position: relative;
}

.hcenter {
    text-align: center;
    justify-content: center;
}

.vcenter {
    align-items: center;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.accent {
    color: var(--color-accent);
}

h1, h2, h3 {
    font-family: "Exo 2", sans-serif;
    margin: 0.75rem;
}

hr {
    width: 95%;
}

.button {
    user-select: none;
    -webkit-user-select: none;
    display: block;
    color: white;
    font-size: 1rem;
    border: none;
    font-family: inherit;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0.4rem;
    background-color: #0083ef;
    font-weight: bold;
    cursor: pointer;
}

.hidden {
    display: none;
}

.chip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vw;
    background-color: var(--color-accent);
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    white-space: nowrap;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}
a {
    color: #0083ef;
}
.clear {
    clear: both;
}

.input-wrapper {
    align-self: flex-start;
    padding-bottom: 0.3rem;
    width: min(100%, 20rem);
}

.input-wrapper.labeled {
    padding-left: 1rem;
    border-left: 3px solid #333;
}

select, input, textarea {
    color: var(--color-fg);
    background-color: var(--color-select-bg);
    padding: 0.3rem;
    font-family: inherit;
    font-weight: inherit;
    font-size: 1.2rem;
    border: none;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 100vw;
}

::-webkit-scrollbar-corner {
    background: var(--color-bg)
}

/* Modal Select stuff */
.modal-header-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    text-align: center;
}

.modal-header {
    text-align: center;
    justify-content: center !important;
}

.comp-select, .cancel {
    width: max-content;
    text-align: center;

    display: inline-block;
    padding: 0.5rem;
    background-color: #333;
    border: 1px solid #666;
    border-radius: 0 0.5rem;
    margin: 0.1rem;
    transition: background-color 250ms ease;
    user-select: none;
}

.comp-select:hover {
    cursor: pointer;
    background-color: var(--color-accent);
}

.cancel:hover {
    cursor: pointer;
    background-color: var(--color-select-bg);
}

.cancel {
    background: #333;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.cancel:hover {
    cursor: pointer;
}

code {
    display: inline;
    background-color: #555;
    padding: 0.15rem;
    border-radius: 0.25rem;
    font-family: monospace;
    font-size: 0.75em;
    line-height: 2;
    white-space: nowrap;

    transition: background-color 0.5s ease;
}

@media screen and (max-width: 500px) {
    body {
        font-size: 1.2rem;
    }
}